html {
}

body {
    background: #FCE7FF
    font-family: "Poppins";
}

h1 {
margin: 0;
}

a {

    font-weight: bold;
    color: white;
    text-decoration: none;
    background: #933A9F;
    display: inline-block;
}